* {
	padding: 0;
	margin: 0;
	border: 0;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#gauge {
	float: left;
	width: 200px;
}

#graph {
	float: left;
	width: 800px;
	height: 200px;
}

#timeline {
	width: inherit;
	height: 400px;
}
